<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://i.imgur.com/UZmjebX.jpeg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Tani Robinson</p>
          <p class="subtitle is-6">@tanirob</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
      </div>
    </div>
  </div>