<div class="card">
    <div class="card-image">
      <figure class="image is-4by5">
        <img src="https://i.imgur.com/UZmjebX.jpeg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 logo">Tani Robinson</p>
          <p class="subtitle is-6">@tanirob</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <br>
        <br>
        Proin vestibulum commodo elit a efficitur. Cras pulvinar dignissim interdum. Nulla congue magna sed lorem blandit gravida. Fusce pellentesque ultrices tempus. Ut eu nibh a erat molestie malesuada eu ac metus. Cras vehicula mauris nisl, ut hendrerit elit accumsan non. Pellentesque orci magna, ultricies nec vestibulum id, tempor tempor eros
        <br>
      </div>
    </div>
  </div>