<footer>
    <div class="content has-text-centered">
        <p class="footer-text">
          <strong>BlogSec</strong> by Tani Robinson. The source code is licensed.
        </p>
      </div>
</footer>